/nbproject/private/
/build/
/dist/
/Ejercicio1/build/
/Ejercicio1/dist/
/Ejercicio1/nbproject/private/
/pruebas/dist/
/pruebas/build/
/pruebas/nbproject/private/
/Ejercicio2/build/
/Ejercicio2/dist/
/Ejercicio2/nbproject/private/
/Ejercicio3/build/
/Ejercicio3/nbproject/private/
/Ejercicio3/dist/